:root {
    --button-color: #800000; 
    --button-color2: #003314;
    --button-color-light: #dc143c;
    --button-color2-llght: #228b22;
    --color-white: #fff;
    --color-yellow: yellow;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background-color: #f4f4f4;
}

h1, h2 {
    text-align: center;
    color: var(--color-white);
    padding: 5px;
}

h2 {
    font-size: 30px;
    color: var(--color-yellow);
}

p {
    margin-top: 2px;
    color: var(--color-white);
}

 button  {
    margin-top: 5px;
    width: 170px;
    padding: 5px;
    text-align: center;
    border-radius: 4px;
    border: none;
    font-family: cursive;
    font-weight: 700;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
 }

 button:nth-of-type(1) {
    background: var(--button-color);
    transform: translate(0.2s);
 }
 
 button:nth-of-type(1):hover {
    background: var(--button-color-light);
    transform: translate(0.2s);


 }
 button:nth-of-type(2) {
    background: var(--button-color2);
 }
 button:nth-of-type(2):hover {
    background: var(--button-color2-ligh);
 }

.container {
    width: 300px;
    height: 260px;
    border: 1px solid transparent;
    box-shadow: 1px 1px 4px 2px #fff;
    border-radius: 8px;
    background: url(images/pexels-rajat-jain-325200.jpg);
    background-position-y: center;
    background-repeat: no-repeat;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 10px;

}

.details {
    margin-top: 30px;
    padding: 5px;
}